.ant-row {
    margin-bottom: 10px;
}

.status-draft { color: gray; }
.status-pending { color: purple; }
.status-created { color: blue; }
.status-inProgress { color: orange; }
.status-completed { color: green; }
.status-invoiced { color: teal; }
.status-delivered { color: brown; }