<div class="change-password-container">
  <div class="form-wrapper">
    <div class="title">{{ pageTitle }}</div>
    <hr>
    <p *ngIf="isFirstLogin">To make your account secure, please set your new password to replace the temporary password.</p>

    <form nz-form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" nz-form>
      <nz-form-item *ngIf="!isEmailSet">
        <nz-form-control nzErrorTip="Please enter your email">
          <nz-input-group nzSuffixIcon="mail">
            <input type="email" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordError">
          <nz-input-group nzSuffixIcon="lock">
            <input type="password" nz-input formControlName="newPassword" placeholder="New Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control [nzErrorTip]="passwordError1">
          <nz-input-group nzSuffixIcon="lock">
            <input type="password" nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <ng-template #passwordError let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please enter your password
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Password must be at least 8 characters<br>
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordStrength')">
          Must include uppercase, lowercase, number, and special character
        </ng-container>
      </ng-template>

      <ng-template #passwordError1 let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please enter your confirm password
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">
          Password must be at least 8 characters<br>
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordStrength')">
          Must include uppercase, lowercase, number, and special character
        </ng-container>
        <ng-container *ngIf="control.hasError('passwordMismatch')">
          Password do not match
        </ng-container>
      </ng-template>

      <button nz-button [nzLoading]="loading" class="reset-button">Reset</button>
    </form>
  </div>
</div>
