.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 65px);
    flex-grow: 1;
    padding: 24px;
  }
  
  .form-wrapper {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    min-width: 500px;
    text-align: center;
  }

  form {
    margin-top: 30px;
  }
  
  .title {
    font-size: 24px;
    color: #022641;
    margin-bottom: 24px;
    font-weight: bold;
  }

  p {
    text-align: left;
    margin-bottom: 40px;
  }
  
  .nx-form-item {
    margin-bottom: 16px;
  }
  
  .nx-form-label {
    font-weight: bold;
  }
  
  .nx-form-control {
    text-align: left;
  }
  
  .reset-button {
    width: 50%;
    height: 40px;
    font-size: 16px;
    margin-top: 16px;
    background-color: #022641;
    color: white;
    font-style: bold;

    &:hover {
      background-color: #034a7f;
      border-color: #034a7f;
    }
  }
  
  .ant-input-affix-wrapper:hover {
    border-color: #022641 !important;
  }
  
  .ant-input-affix-wrapper-focused {
    border-color: #022641 !important;
    box-shadow: 0 0 0 2px rgba(2, 38, 65, 0.2) !important;
  }
  
  .ant-input-prefix {
    .anticon {
      color: #022641 !important;
    }
  }
  